@{
    ViewData["Title"] = "ShopList";
    Layout = "~/Areas/Admin/Views/Shared/_AppointmentSystemAdminLayout.cshtml";
    int count = 0;
}
@model List<AdminPanelShopListDto>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">İşletme İsmi</th>
                <th scope="col">Telefon </th>
                <th scope="col">Adres</th>
                <th scope="col">Durumu</th>
                <th scope="col">Aktif Berber</th>
                <th scope="col">Tp Randevu Sayısı</th>
                <th scope="col">Bugun Randevu Sayısı</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@count</th>
                    <td>@item.Name</td>
                    <td>@item.ShopPhone</td>
                    <td>@item.ShopAddress</td>
                    <td>@item.Status</td>
                    <td>@item.WorkerCount</td>
                    <td>@item.TotalAppointmentCount</td>
                    <td>@item.TodayTotalAppointmentCount</td>
                </tr>
                count++;
            }
        </tbody>
    </table>
    <br/>
    <a href="/Admin/Shop/AddShop" class="btn btn-primary">Yeni İşletme</a>
</div>