
@{
    ViewData["Title"] = "WorkerList";
    Layout = "~/Areas/Admin/Views/Shared/_AppointmentSystemAdminLayout.cshtml";
    int count = 0;
}

@model List<AdminPanelWorkerDto>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Çalışan İsmi</th>
                <th scope="col">Telefon </th>
                <th scope="col">İşletme İsmi</th>
                <th scope="col">Durumu</th>
                <th scope="col">Başlangıç Tarihi</th>
                <th scope="col">Tp Randevu Sayısı</th>
                <th scope="col">Bugun Randevu Sayısı</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@count</th>
                    <td>@item.WorkerName</td>
                    <td>@item.WorkerPhone</td>
                    <td>@item.ShopName</td>
                    <td>@item.Status</td>
                    <td>@item.InsertedDate</td>
                    <td>@item.TotalAppointmentCount</td>
                    <td>@item.TodayTotalAppointmentCount</td>
                </tr>
                count++;
            }
        </tbody>
    </table>
</div>
